@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  overflow-x: hidden;
  position: relative;
  /* font-family: "Nunito", sans-serif;
  font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto Slab', serif;


}
  html {
  overflow-x: hidden;
}

.nav-bar-container {
  position: fixed;
  top: 0px;
  z-index: 99;
  height: fit-content;
  width: 100vw;
  font-weight: bolder;
  background-color: red;
}
.app-navbar {

  position: relative;
  z-index: 10;
  background-color: red;

}
a.navbar-brand {

  color: grey;
  font-size: x-Large;
  letter-spacing: 3px;
}

.navbar-nav {

  align-self: center;
  margin: auto;
  padding-right: 10rem;
}

.menu-link:hover {
  font-size: large;
}

.top-trending {
  overflow-x: hidden;
  margin-top: 3.5rem;
  padding: 0px;
  width: 100%;
}
.top-trending-image-conatiner {
  background-color: white;
  height: 65vh;
  width: 100vw;
  overflow: hidden;
}
.topbar-poster-image {
  object-fit: cover;
}
.trending-text {
  font-weight: 500;
  font-size: x-large;
  text-align: center;
  margin-top: 1.5rem;
  padding: .5rem;
  color: grey;
  letter-spacing: .3rem;
  z-index: 4;
}
.topbar-trending-title {
  color: white;
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  top: 13rem;
  left: 60rem;
  width: 100%;
  margin-left: 1rem;
  z-index: 4;
}

.topbar-trending-rank {
  color: yellow;
  position: absolute;
  font-size: 2rem;
  left: 50rem;
  font-weight: bold;
  top: 10rem;
  width: 99%;
  margin-left: 1rem;
}

.search-container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  padding: 1rem;


}
.search-icon {
  font-size: xx-large;
  margin-right: 1rem;
  height: fit-content;
  
}
.searchBox {
  padding: 5px 10px;
  border: inset;
  width: 30vw;
  border-radius: 2rem;
}

.job-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}
.job-card {
  background: linear-gradient(to left, #f2f8f9 50%, #003F5C 50%);
  background-size: 200%;
  background-position: right;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 1.5rem;
  padding: 1.5rem;
  width: 30vw;
  height: 20vh;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-left: 2rem;
  min-width: 30rem;
  min-height: 20rem;
  border-radius: 2rem;


}
/* .job-card:hover {
  background-color: #E8E8E8;
  background-position: left;
  transition: background-position 0.5s ease-out;
} */
/* .job-image-container{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 40%;
} */
/* .job-image{
  object-fit: cover;
  align-self: center;
} */
.job-summary{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 90%;

 color: black;
 
}
.job-summary-column{
  line-height: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: centers;
 
}

/* .job-summary-left {

 
}
.job-summary-right{
  
} */
.job-title{
  font-size: large;
  color: blue;
  margin-bottom: .5rem;
  width: 100%;
  
}
.company-name{
  color: grey;
}
.footer-container {
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: x-large;
  width: 15rem;
  color: grey;
  align-content: center;
  align-items: center;

}

.instagram {
  font-size: xx-large;
  align-self: center;
}

.brand-name {
  width: 13rem;
}

.copyright {
  width: 8rem;

}

.brand-name,
.copyright {
  align-self: center;
  font-size: larger;
  font-weight: bolder;
  color: grey;
}
.fav-no-data{
  height: 50vh;
  width: 50vw;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.no-fav-msg{
  align-self: center;
  margin-top: -3rem;
  font-size: xx-large;
  font-weight: bolder;
  color: grey;
}
.jobDetail-container{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.jobDetail-card{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: fit-content;
  width: 60vw;
  border-radius: 2rem;
  background-color: #f2f8f9;
  
}
.jobDetail-content{
  margin: 3rem;
}
.jobDetail-jobTitle{
  font-size: 1.7rem;
  color: blue;
}
.jobDetail-companyName{
  font-size: 1.2rem;
  color: grey;
}
.jobDetail-jobId{
  font-weight: bold;
  color: grey;
  text-align: right;
}
.jobDetails-icon-description-container{
  line-height: 3;
  margin-top: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.jobDetail-icons{
  color: green;
  font-size: 1.5rem;
}
.jobContents{
  align-self: center;
  display: flex;
  align-items: center;
  
}
.jobDetail-heading{
  font-size: large;
}
.horizontal-line{
  border: 1px solid #D8D8D8;
}
.horizontal-line-container{
  width: 100%;
}

.jobDetail-text-description-container{
  margin-top: 2rem;
  line-height: 2;
}
.text-description{
  font-size: normal;
  margin-bottom: 1rem;
  
}
.jobDetail-applyLink-container{
  display: flex;
  justify-content: center;
}
.jobDetail-applyButton{
  width: 15rem;
}
.jobDetail-applyButton-link{
  color: white;
  align-self: center;
  font-size: larger;
  font-weight: bolder;
}
.back-button-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: fixed;
  left: 5rem;
  top: 25rem;
}

.back-button {
  font-size: 3rem;
  cursor: pointer;

}
.back-button:hover {
  color: grey;

}
.notice-board{
  font-size: large;
  letter-spacing: normal;
  margin-top: 1rem;
  padding: 1rem;
  margin: auto;

}


/* media queries */
@media only screen and (max-width: 1024px) {

  /* .job-image-container{
    display: none;
  } */
  .job-summary{
    width: 95%;
  }
  .searchBox {
    width: 85vw;
  }

  .jobDetails-icon-description-container{
    width: 100%;
  }
 
}

@media only screen and (max-width: 1185px) {
  .topbar-trending-title {
    left: 39rem;
  }
  
  .topbar-trending-rank {
    left: 30rem;
  }
}

@media only screen and (max-width: 850px) {
  .topbar-trending-title {
    left: 29rem;
  }
  
  .topbar-trending-rank {
    left: 20rem;
  }
  .fav-no-data{
    height: 50vh;
    width: 70vw;
  }
  .jobDetails-icon-description-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}
@media only screen and (max-width: 689px) {
  .topbar-trending-title {
    left: 26rem;
    font-size: 1.5rem;
  }
  
  .topbar-trending-rank {
    left: 18.1rem;
    font-size: 1.3rem;
  }

  .top-trending-image-conatiner {
    background-color: white;
    height: 30vh;
    width: 100vw;
    overflow: hidden;
  }
  .topbar-poster-image {
    object-fit: cover;
  }
  .jobDetail-card{
    width: 95vw;
    
  }
  .back-button-container {
    left: 0;
    
  }
  .job-card{
    width: 90vw;
    height: fit-content;
    min-width: 5rem;
  }
}
@media only screen and (max-width: 540px) {
  .topbar-trending-title {
    left: 20.5rem;
    font-size: 1.5rem;
  }
  
  .topbar-trending-rank {
    left: 13rem;
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 455px) {

  .topbar-trending-title {
    left: 17rem;
    font-size: 1rem;
  }
  
  .topbar-trending-rank {
    left: 10.5rem;
    font-size: 1rem;
  }

  .top-trending-image-conatiner {
    background-color: white;
    height: 30vh;
    width: 100vw;
    overflow: hidden;
  }
  .topbar-poster-image {
    object-fit: cover;
  }
  .job-summary-column{
    flex-direction: column;
  }
  .job-card{
    width: 90vw;
    height: fit-content;
    min-width: 5rem;
  }
}
@media only screen and (max-width: 363px) {
  .topbar-trending-title {
    left: 11.9rem;
    font-size: .8rem;
  }
  
  .topbar-trending-rank {
    left: 6.8rem;
    font-size: .8rem;
  }
}
