.stepperForm {
  height: auto;
  width: 100vw;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;

  --stepper-content-margin: 2rem 2rem 2rem 2rem;
  --column-width: 25vw;
  --form-height: 20rem;
  --double-text-input-width: 14rem;
}
.stepperform-container {
  height: auto;
  width: 70vw;
  margin-top: 5rem;
  border-radius: 2rem;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.stepper {
  margin: 0rem 2rem;
  height: 7rem;
}
.step-container {
}
.stepper-form-content-container {
  margin: var(--stepper-content-margin);
  height: auto;
}
.stepper-form-content {
  height: auto;
  margin: var(--stepper-content-margin);
}
.stepper-form-buttons-container {
  margin: var(--stepper-content-margin);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.form-content-columns-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full-width-column {
  align-self: center;
  width: 90%;
  height: 20rem;
}
.job-description {
  margin-top: -2rem;
  margin-bottom: 1.5rem;
}
.company-name {
  width: 90%;
  align-self: center;
}

.about-company-container {
  margin-top: 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toolbar-class-job {
}
.wrapper-class-job {
  height: 30vh;
}

.form-content-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.form-content-col1 {
  width: var(--column-width);
}
.form-content-col2 {
  width: var(--column-width);
}
.single-column-container {
  height: 4rem;
  width: var(--column-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.single-input-container {
  width: var(--column-width);
}
.multiple-input-container {
  width: var(--column-width);
  display: flex;
  justify-content: space-between;
}
.select-input {
  width: 11vw;
}
.checkbox-input-container {
  width: var(--column-width);
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 2.5rem;
  margin-top: 0.5rem;
}
.checkbox-label {
  margin-left: 0.5rem;
}
.checkbox-container {
  margin-left: 0.7rem;
  color: grey;
  font-size: 14px;
  align-self: center;
}
.single-input-container .wfh {
  border: 2px solid purple;
  margin-left: 0.2rem;
  color: grey;
  font-weight: lighter;
  width: var(--column-width);
}
.multiple-input-container .number-input,
.multiple-input-container .max-salary,
.multiple-input-container .min-salary {
  width: var(--double-text-input-width);
}
.salary-label {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0.2rem;
}
.salary-label .fixed-salary {
  margin-left: 1.5rem;
  color: grey;
}
.with-label {
  margin-top: -1rem;
}

.multiple-input-container .salary-period {
  font-size: 1px;
}

// media queries
@media only screen and (max-width: 864px) {
  .stepper-form-content {
    height: auto;
    margin: var(--stepper-content-margin);
    display: flex;
    justify-content: center;

    --column-width: 40vw;
  }
  .form-content-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vw;
  }
  .single-input-container {
    align-self: center;
    width: var(--column-width);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .experience {
    justify-content: left;
  }
}
@media only screen and (max-width: 657px) {
  .stepperForm {
    margin: 0;
  }
  .stepperform-container {
    width: 100vw;
    margin: 5rem 0 0 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 0px 0px;
  }
  .stepper {
    margin: 0;
  }
  .stepper-form-content-container {
    margin: 0;
    width: 100vw;
  }
  .stepper-form-content {
    height: auto;
    margin: 0;
  }
  .form-content-columns {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    width: 80vw;
  }
  .form-content-col1 {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-content-col2 {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .single-column-container {
    height: 4rem;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .single-input-container {
    width: 80vw;
  }
  .multiple-input-container {
    width: 80vw;
  }
  .select-input {
    width: 35vw;
  }
  .checkbox-input-container {
    width: 80vw;
    justify-content: left;
  }
  .chceckbox-label {
    margin-left: 0.5rem;
  }
  .checkbox-container {
    margin-left: 1rem;
    color: grey;
  }
  .multiple-input-container {
    width: 78vw;
    display: flex;
    justify-content: left;
    margin: 0;
  }
  .job-location {
    align-self: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 80vw;
  }
}
@media only screen and (max-width: 333px) {
  .job-location {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 80vw;
  }
  .wfh {
    font-size: small;
    color: grey;
    align-self: flex-start;
  }
  .job-location-label {
    align-self: flex-start;
  }
}
